.log-button{
    border: none;
    outline: none;
    letter-spacing: 1px;
    background: #333;
    color: white;
    width: 55%;
    margin: 15px 0;
    padding: 15px;
    font-size: 16px;
}

.prof-button{
    width: 45%;
}

.log-button:hover {
    background:#ccc;
    color: #000000;
}

.label-1{
    width: 100%;
    margin: 8px auto;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 10px 15px;
    outline: none;
    font-size: 24px;
    letter-spacing: 1px;

}

.label-1-text{
    font-weight: bold;
}

.inf{
    position: absolute;
    left: 55%;
}

.main-prof{
    margin-bottom: auto;
    display: block;
}

.main-inf{
    padding: 50px 10px;
}
